.wrapper {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;  
}

.box {
  padding: 5px;
}

.project-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: plum;
}

.project-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgb(61, 235, 38);
}

.project-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color:rgb(250, 27, 217)
}

.project-4 {
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: rgb(67, 217, 150);
}

.project-5 {
  grid-column-start: 5;
  grid-column-end: 6;
  background-color: rgb(17, 17, 239);
}

h1 {
  color: blueviolet;
  text-align: center;
}